@{
    ViewBag.Title = "Contacts";
}

<h2>Контакти:</h2>
<div>
ПП «ФАСАД»<br />
БЦ «Vector»<br />
вул. Б. Хмельницького, 52<br />
01030, м. Київ, Україна<br />
+38 (050) 378 09 77<br />
0503780977@i.ua<br />
</div>


