@{
    ViewBag.Title = "Creating";
}
<style>
    ol {
 list-style-type:none
    }
   dl > dt, ol>li {
        font-size:20px;
    }
    .fig {
        text-align:center;
  
    }
</style>

<div class="fig">
<h2>Виробничий підрозділ ПП «Фасад» площею 0,5 га розташований в м. Луцьку,<br />
    розташований за 70 км від кордону з ЄС, що дає можливість в найкоротший термін<br />
    здійснювати прямі поставки матеріалів та комплектуючих з країн ЄС <br />
    (приклад – поставка покрівельного титан-цинку на Макдональдс на Поштовій площі з Франції<br />
     на об'єкт за 48 годин, включно з розмитненням).</h2>
<h3>цех алюмінієвих конструкцій:</h3>
<ol>
    <li>- комплекс для двухвимірної обробки алюмінієвих фасадних конструкцій (GRAULE) -</li>
    <li>- обладнання для виробництва алюмінієвих конструкцій (PREZ MET, ALUPROF, YIL MAZ, ELUMATEK) -</li>

</ol>
<h3>цех виробництва алюмінієвих композитних панелей (Alucobond):</h3>
<dl>
    <dt>- універсальний комплекс (STRIEBIG) -</dt>
    <dt>- універсальний вальцовочний станок: -</dt>
         <dd> <i>продольний (1.15 м)</i> </dd>
         <dd> <i>поперечний (L до 3,6м)</i> </dd>
    <dt>- листогин (TAPCO, 3,3 м) -</dt>
</dl>
<h3>виготовлення високоточних просторових металоконструкцій</h3>
<ol>
    <li>- Червоноградський завод металевих конструкцій – на партнерських засадах. -</li>
</ol>
</div>
