@{
    ViewBag.Title = "Fasad";
}
<div style="text-align:center">
<h3>Алюмінієві фасадні системи</h3>
<h3>Розсувні системи</h3>
<h3>Дерев’яні каркаси</h3>
<h3>Алюмінієві віконно-дверні конструкції</h3>
<h3>Дерев’яні каркаси</h3>
<h3>Алюмінієві віконно-дверні конструкції</h3>
<h3>Дерев’яні віконно-дверні конструкції</h3>
<h3>Металево-скляні конструкції</h3>
<h3>Металеві віконно-дверні конструкції</h3>
</div>
