@{
    ViewBag.Title = "Glass";
}
<style>
    ol {
 list-style-type:none
    }
    ol>li {

        font-size:20px;
    }
    .fig {
        text-align:center;
  
    }
</style>

<div class="fig">
<h3>Великогабаритне панорамне засклення (розмір склопакету до 3,2х9м)</h3>
<h3>Скляні дахи</h3>
<h3>Суцільноскліні конструкції</h3>
    <ol>
        <li>-<i>на скляних ребрах</i> -</li>
        <li>-<i> на вантах </i> -</li>
        <li>-<i>на консольних кріпленнях</i> -</li>
    </ol>
<h3>Конструкції з гнутого скла</h3>
<h3>Суцільно скляні вхідні групи</h3>
<h3>Похилі скляні конструкції</h3>
<h3>Суцільно скляні вхідні групи</h3>
<h3>Дубль-фасади</h3>
<h3>Спеціалізоване засклення(банки, басейни, зоопарки)</h3>
<h3>Скляні перегородки, сходи, підлоги,балюстради</h3>
<h3>Склопакети з підігрівом та монохромне скло</h3>
</div>

