@{
    ViewBag.Title = "Index";
   
}
<style>
    ol {
 list-style-type:none
    }
   ol > li {
        font-size:20px;
    }
    .fig {
        text-align:center;
  
    }
</style>

<div class="fig">
     <img src="~/img/LABEL.png"  width="15%"  />
</div>
<div class="fig">
 <h1>ПП «Фасад» з 2000 року займається консалтингом, проектуванням,<br />
 постачанням і монтажем скляних огороджуючих конструкцій, а також<br />
 вентильованих фасадів із алюмінієвих композитних панелей,<br />
 керамограніту, HPL-панелей, титан-цинку та натурального дерева.</h1>

  <h2>У нас є все необхідне для успішної реалізації проектів:</h2>
<ol>
    <li>- професіональна і злагоджена команда архітекторів,конструкторів, менеджерів і монтажників -</li>
    <li>- великий досвід реалізації нестандартних об'єктів -</li>
    <li>- сучасна виробнича база та спеціалізоване обладнання для монтажу фасадів -</li>
    <li>- практика впровадження і розробки інноваційних фасадних системних рішень -</li>
</ol>
</div>

