@{
    ViewBag.Title = "Instalation";
}
<style>
    ol {
 list-style-type:none
    }
   ol>li {
        font-size:20px;
    }
    .fig {
        text-align:center;
  
    }
</style>

<div class="fig">
<h2>ПП «Фасад», використовуючи 16-річний досвід, виконує повний<br />
комплекс робіт по влаштуванню огороджуючих конструкцій з<br />
високотехнологічних матеріалів, починаючи з даху і закінчуючи<br />
вхідними групами.</h2>
<h3>Окремо слід наголосити на нашій спеціалізації по монтажу скляних
конструкцій МЕГА формату (до 3,2х9,0 м).<br />
    Для цього у ПП «Фасад» є необхідне спеціалізоване обладнання:</h3>
 <ol>
    <li>- автономні вакуумні присоски (600, 1200 кг) -</li>
    <li>- гідропідіймачі, талі, лебідки -</li>
    <li>- будівельні риштування німецької фірми (BAUMANN) - 1000 м - </li>
    <li>- люльки 2,5/9,0 м -</li>
    <li>- пересувні монтажні вишки (h = 9,0 м) -</li>
 </ol>
<h3>Автопарк:</h3>
 <ol>
    <li>- спеціалізована техніка для перевезення великогабаритного скла,до 7,5 м (DAF) -</li>
    <li>- автомобіль для перевезення конструкцій до 5.0 м (Mercedes-Benz) -</li>
    <li>- автомобіль з пониженою платформою для перевезення конструкцій висотою понад 3,0м (Mercedes-Benz) - </li>
    <li>- автомобіль для перевезення монтажних бригад (Fiat) -</li>
 </ol>
<h3>Мобільні приміщення:</h3>
 <ol>
    <li>- мобільних цех з надувних арочних конструкцій -</li>
    <li>- мобільні побутові та адміністративні приміщення -</li>
    <li>- складські контейнери - </li>
 </ol>
    </div>