@{
    ViewBag.Title = "Projecting";
}

<style>
    ol {
 list-style-type:none
    }
    ol>li {
        font-size:20px;
    }
    .fig {
        text-align:center;
  
    }
</style>

<div class="fig">
<h2>Завдяки партнерським відносинам з рядом відомих європейських<br />
фірм та архітектурних бюро фірма «Фасад» пропонує найсучасніші<br />
технологічні рішення в сфері зовнішніх огороджуючих конструкцій<br />
починаючи з 3D візуалізації фасадів закінчуючи нестандартними<br />
рішеннями окремих вузлів чи конструкцій вцілому.</h2>
<h3>Перелік робіт:</h3>
<ol>
    <li>- отримання всіх необхідних дозвільних документів, містобудівних умов -</li>
    <li>- розробка проектної документації стадії РП -</li>
    <li>- проходження державної експертизи (для відповідної категорії складності чи на вимогу замовника) -</li>
    <li>- проведення обстежень існуючих будівель -</li>
    <li>- розробка індивідуальних конструктивних рішень -</li>
    <li>- розрахунок просторових металоконструкцій та мембран -</li>
</ol>
</div>