@{
    ViewBag.Title = "Vent";
}
<div style="text-align:center">
     <h3>з алюмінієвих композитних панелей (Alucobond)</h3>
     <h3>з великогабаритних керамогранітних панелей (1000х3000х5 мм)(Laminam)</h3>
     <h3>з натурального мрамору (Botticino)</h3>
     <h3>з титан цинку (VMZink)</h3>
     <h3>з натурального дерева (Trespa)</h3>
     <h3>з HPL-панелей</h3>
     <h3>Дубль-фасад</h3>
     <h3>Огороджуючі конструкції з сендвіч панелей з модульних панелей (Qbiss)</h3>
</div>









