@{
    ViewBag.Title = "WeAre";
}
<div style="font-size:15px">
 <h2>ПП «Фасад» </h2>- з 2000 року займається консалтингом, проектуванням,<br />
 постачанням і монтажем скляних огороджуючих конструкцій, а також<br />
 вентильованих фасадів із алюмінієвих композитних панелей,<br />
 керамограніту, HPL-панелей, титан-цинку та натурального дерева.
</div>