@{
    ViewBag.Title = "WhyWe";
}
<style>
    ol {
 list-style-type:none
    }
</style>
 <h2>У нас є все необхідне для успішної реалізації проектів:</h2>
<ol>
    <li>- професіональна і злагоджена команда архітекторів,конструкторів, менеджерів і монтажників -</li>
    <li>- великий досвід реалізації нестандартних об'єктів -</li>
    <li>- сучасна виробнича база та спеціалізоване обладнання для монтажу фасадів -</li>
    <li>- практика впровадження і розробки інноваційних фасадних системних рішень -</li>
</ol>
